body {
  width: 100%;
  margin: 0 auto;
  background-color: #283681;
  color: #fff;
}

h1 {
  font-family: 'Bevan', cursive;
  font-size: 45px;
  letter-spacing: 3px;
}

h2 {
  font-size: 35px;
  font-family: 'Source Serif Pro', serif;
}

p {
  font-family: 'Source Serif Pro', serif;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: -3%;
}

.newsContainer {
  margin: 5% 10%;
  padding: 3% 5%;
  border: #fff double 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8a171c;
}

.imgContainer {
  align-self: flex-end;
  position: absolute;
  z-index: .5;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImg {
  height: 130px;
  width: auto;
  border-radius: 50%;
  border: white solid;
  align-self: flex-end;
}

input {
	font-size: 2em;
	background-color: transparent;
	text-align: center;
	border-width: 0;
	width: 100%;
	margin: 0 0 .1em 0;
	color: #fff;
}

.like_button {
  cursor:pointer;
  border: 0px !important;
  z-index:100;
  padding:0;
  background-color: #8a171c;
}

.likeImg {
  width: 70px;
  height: auto;
}
